# MLflow results presentation

Present MLflow results using pandas.

If tensorboard is not showing inline, use `!` instead of `%` and view tensorboard in a new browser tab.

In [1]:
import pandas as pd
from uncertainties import ufloat
import mlflow
from mlflow.tracking import MlflowClient
mlflow.set_tracking_uri('file:///home/zeyusun/work/flare-prediction-smarp/mlruns')
client = MlflowClient()

from mlflow_helper import *

%load_ext tensorboard
%load_ext autoreload
%autoreload 2

Display boarderlines of pandas tables

In [2]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

## experiment: beta
* no random seed
* multiple databases

In [3]:
columns = {
    'tags.database_name': 'database',
    'tags.dataset_name': 'dataset',
    'tags.estimator_name': 'estimator',
    'metrics.auc': 'auc',
    'metrics.tss_opt': 'tss',
}
rows = {
    'estimator': {
        'HistGradientBoostingClassifier': 'HGB',
        'RandomForestClassifier': 'RF',
        'SGDClassifier': 'LG',
    }
}
runs_raw = retrieve('experiment', 'beta')
runs = select(runs_raw, columns, rows)
runs

Select the first from
                          start_time tags.mlflow.runName  \
90  2021-05-22 18:13:26.644000+00:00                beta
166 2021-05-21 01:50:33.010000+00:00                beta

                tags.mlflow.source.git.commit
90   d5d0b545f888847c72dd44d581a77e3e7602b2fe
166  7149bc5e0355ab3dbc90c029260325a64a1f6044

             database   dataset estimator       auc       tss
36            M_Q_6hr  combined       HGB  0.999919  0.998669
37            M_Q_6hr  combined        RF  1.000000  1.000000
38            M_Q_6hr  combined        LG  0.992040  0.921998
39            M_Q_6hr     sharp       HGB  0.996281  0.943164
40            M_Q_6hr     sharp        RF  1.000000  1.000000
41            M_Q_6hr     sharp        LG  0.992198  0.921169
42            M_Q_6hr     smarp       HGB  0.996993  0.950146
43            M_Q_6hr     smarp        RF  1.000000  1.000000
44            M_Q_6hr     smarp        LG  0.992351  0.920737
45  M_Q_12hr_balanced  combined       HGB  1.000000  1.000000
46  M_Q_12hr_balanced  combined        RF  1.000000  1.000000
47  M_Q_12hr_balanced  combined        LG  0.993737  0.915405
48  M_Q_12hr_balanced     sharp       HGB  0.997338  0.940338
49  M_Q_12hr_balanced     sharp        RF  1.000000  1.000000
50  M_Q_12hr_balanced     sharp        LG  0.992243  0.918077
51  M_Q_12hr_balanced     smarp       HGB  0.997736  0.959038
52  M_Q_12hr_balanced     smarp        RF  1.000000  1.000000
53  M_Q_12hr_balanced     smarp        LG  0.993350  0.911843
54   M_Q_6hr_balanced  combined       HGB  1.000000  1.000000
55   M_Q_6hr_balanced  combined        RF  1.000000  1.000000
56   M_Q_6hr_balanced  combined        LG  0.990624  0.916564
57   M_Q_6hr_balanced     sharp       HGB  0.993952  0.925153
58   M_Q_6hr_balanced     sharp        RF  1.000000  1.000000
59   M_Q_6hr_balanced     sharp        LG  0.990217  0.899387
60   M_Q_6hr_balanced     smarp       HGB  0.995356  0.933742
61   M_Q_6hr_balanced     smarp        RF  1.000000  1.000000
62   M_Q_6hr_balanced     smarp        LG  0.990834  0.912883
63  M_Q_24hr_balanced  combined       HGB  1.000000  1.000000
64  M_Q_24hr_balanced  combined        RF  1.000000  1.000000
65  M_Q_24hr_balanced  combined        LG  0.991072  0.918750
66  M_Q_24hr_balanced     sharp       HGB  0.993731  0.925962
67  M_Q_24hr_balanced     sharp        RF  1.000000  1.000000
68  M_Q_24hr_balanced     sharp        LG  0.990909  0.915385
69  M_Q_24hr_balanced     smarp       HGB  0.995169  0.937981
70  M_Q_24hr_balanced     smarp        RF  1.000000  1.000000
71  M_Q_24hr_balanced     smarp        LG  0.991185  0.916827
72           M_Q_12hr  combined       HGB  1.000000  0.999982
73           M_Q_12hr  combined        RF  1.000000  1.000000
74           M_Q_12hr  combined        LG  0.992135  0.909550
75           M_Q_12hr     sharp       HGB  0.993901  0.927590
76           M_Q_12hr     sharp        RF  1.000000  1.000000
77           M_Q_12hr     sharp        LG  0.992057  0.909012
78           M_Q_12hr     smarp       HGB  0.996002  0.942128
79           M_Q_12hr     smarp        RF  1.000000  1.000000
80           M_Q_12hr     smarp        LG  0.991444  0.911300
81           M_Q_24hr  combined       HGB  1.000000  0.999943
82           M_Q_24hr  combined        RF  1.000000  1.000000
83           M_Q_24hr  combined        LG  0.990664  0.912204
84           M_Q_24hr     sharp       HGB  0.998510  0.965719
85           M_Q_24hr     sharp        RF  1.000000  1.000000
86           M_Q_24hr     sharp        LG  0.990215  0.912165
87           M_Q_24hr     smarp       HGB  0.995813  0.940224
88           M_Q_24hr     smarp        RF  1.000000  1.000000
89           M_Q_24hr     smarp        LG  0.990572  0.911776

In [4]:
by = ['database', 'dataset', 'estimator']
df_style = style(runs, by=by)
df_style

In [5]:
df = organize(runs, by=by, std=True)
df_latex = typeset(df)
#print(df_latex)
df

database          M_Q_12hr                           M_Q_12hr_balanced  \
dataset           combined        sharp        smarp          combined
    estimator
auc HGB        1.000+/-nan  0.994+/-nan  0.996+/-nan       1.000+/-nan
    LG         0.992+/-nan  0.992+/-nan  0.991+/-nan       0.994+/-nan
    RF         1.000+/-nan  1.000+/-nan  1.000+/-nan       1.000+/-nan
tss HGB        1.000+/-nan  0.928+/-nan  0.942+/-nan       1.000+/-nan
    LG         0.910+/-nan  0.909+/-nan  0.911+/-nan       0.915+/-nan
    RF         1.000+/-nan  1.000+/-nan  1.000+/-nan       1.000+/-nan

database                                    M_Q_24hr               \
dataset              sharp        smarp     combined        sharp
    estimator
auc HGB        0.997+/-nan  0.998+/-nan  1.000+/-nan  0.999+/-nan
    LG         0.992+/-nan  0.993+/-nan  0.991+/-nan  0.990+/-nan
    RF         1.000+/-nan  1.000+/-nan  1.000+/-nan  1.000+/-nan
tss HGB        0.940+/-nan  0.959+/-nan  1.000+/-nan  0.966+/-nan
    LG         0.918+/-nan  0.912+/-nan  0.912+/-nan  0.912+/-nan
    RF         1.000+/-nan  1.000+/-nan  1.000+/-nan  1.000+/-nan

database                   M_Q_24hr_balanced                            \
dataset              smarp          combined        sharp        smarp
    estimator
auc HGB        0.996+/-nan       1.000+/-nan  0.994+/-nan  0.995+/-nan
    LG         0.991+/-nan       0.991+/-nan  0.991+/-nan  0.991+/-nan
    RF         1.000+/-nan       1.000+/-nan  1.000+/-nan  1.000+/-nan
tss HGB        0.940+/-nan       1.000+/-nan  0.926+/-nan  0.938+/-nan
    LG         0.912+/-nan       0.919+/-nan  0.915+/-nan  0.917+/-nan
    RF         1.000+/-nan       1.000+/-nan  1.000+/-nan  1.000+/-nan

database           M_Q_6hr                           M_Q_6hr_balanced  \
dataset           combined        sharp        smarp         combined
    estimator
auc HGB        1.000+/-nan  0.996+/-nan  0.997+/-nan      1.000+/-nan
    LG         0.992+/-nan  0.992+/-nan  0.992+/-nan      0.991+/-nan
    RF         1.000+/-nan  1.000+/-nan  1.000+/-nan      1.000+/-nan
tss HGB        0.999+/-nan  0.943+/-nan  0.950+/-nan      1.000+/-nan
    LG         0.922+/-nan  0.921+/-nan  0.921+/-nan      0.917+/-nan
    RF         1.000+/-nan  1.000+/-nan  1.000+/-nan      1.000+/-nan

database
dataset              sharp        smarp
    estimator
auc HGB        0.994+/-nan  0.995+/-nan
    LG         0.990+/-nan  0.991+/-nan
    RF         1.000+/-nan  1.000+/-nan
tss HGB        0.925+/-nan  0.934+/-nan
    LG         0.899+/-nan  0.913+/-nan
    RF         1.000+/-nan  1.000+/-nan

## leaderboard1: sklearn_dataset

In [6]:
columns = {
    'tags.database_name': 'database',
    'tags.dataset_name': 'dataset',
    'tags.estimator_name': 'estimator',
    'metrics.auc': 'auc',
    'metrics.tss_opt': 'tss',
}
rows = {
    'estimator': {
        'HistGradientBoostingClassifier': 'HGB',
        'RandomForestClassifier': 'RF',
        'SGDClassifier': 'LG',
    }
}
runs_raw = retrieve('leaderboard1', 'sklearn_dataset')
runs = select(runs_raw, columns, rows)
runs

     database      dataset estimator       auc       tss
77   M_Q_24hr  fused_sharp       HGB  0.986385  0.892283
78   M_Q_24hr  fused_sharp        RF  0.974761  0.863344
79   M_Q_24hr  fused_sharp        LG  0.983602  0.895498
80   M_Q_24hr  fused_smarp       HGB  0.947810  0.764423
82   M_Q_24hr  fused_smarp        RF  0.938948  0.725962
83   M_Q_24hr  fused_smarp        LG  0.956173  0.810897
84   M_Q_24hr        sharp       HGB  0.991318  0.908360
85   M_Q_24hr        sharp        RF  0.983958  0.890675
86   M_Q_24hr        sharp        LG  0.987159  0.900322
87   M_Q_24hr        smarp       HGB  0.953228  0.801282
88   M_Q_24hr        smarp        RF  0.937292  0.740385
89   M_Q_24hr        smarp        LG  0.956030  0.809295
90   M_Q_24hr  fused_sharp       HGB  0.990281  0.915020
92   M_Q_24hr  fused_sharp        RF  0.988408  0.915020
93   M_Q_24hr  fused_sharp        LG  0.990271  0.907115
94   M_Q_24hr  fused_smarp       HGB  0.972506  0.799781
97   M_Q_24hr  fused_smarp        RF  0.963376  0.771335
98   M_Q_24hr  fused_smarp        LG  0.977569  0.847921
99   M_Q_24hr        sharp       HGB  0.992769  0.926877
100  M_Q_24hr        sharp        RF  0.991907  0.909091
101  M_Q_24hr        sharp        LG  0.992856  0.909091
102  M_Q_24hr        smarp       HGB  0.977173  0.840263
103  M_Q_24hr        smarp        RF  0.965796  0.781182
104  M_Q_24hr        smarp        LG  0.975742  0.835886
105  M_Q_24hr  fused_sharp       HGB  0.988919  0.890110
106  M_Q_24hr  fused_sharp        RF  0.978483  0.846154
107  M_Q_24hr  fused_sharp        LG  0.988528  0.909890
108  M_Q_24hr  fused_smarp       HGB  0.959596  0.834123
109  M_Q_24hr  fused_smarp        RF  0.959335  0.821090
110  M_Q_24hr  fused_smarp        LG  0.972433  0.879147
111  M_Q_24hr        sharp       HGB  0.989608  0.916484
112  M_Q_24hr        sharp        RF  0.985562  0.887912
113  M_Q_24hr        sharp        LG  0.989455  0.927473
114  M_Q_24hr        smarp       HGB  0.972479  0.882701
115  M_Q_24hr        smarp        RF  0.963447  0.848341
116  M_Q_24hr        smarp        LG  0.974415  0.888626
117  M_Q_24hr  fused_sharp       HGB  0.994773  0.936170
118  M_Q_24hr  fused_sharp        RF  0.989379  0.912234
119  M_Q_24hr  fused_sharp        LG  0.991123  0.912234
120  M_Q_24hr  fused_smarp       HGB  0.968771  0.853680
121  M_Q_24hr  fused_smarp        RF  0.956218  0.798923
122  M_Q_24hr  fused_smarp        LG  0.975157  0.842908
123  M_Q_24hr        sharp       HGB  0.994660  0.941489
124  M_Q_24hr        sharp        RF  0.992488  0.938830
125  M_Q_24hr        sharp        LG  0.994851  0.936170
126  M_Q_24hr        smarp       HGB  0.970426  0.842011
127  M_Q_24hr        smarp        RF  0.959925  0.798923
128  M_Q_24hr        smarp        LG  0.975279  0.847397
129  M_Q_24hr  fused_sharp       HGB  0.989316  0.903790
130  M_Q_24hr  fused_sharp        RF  0.984998  0.883382
131  M_Q_24hr  fused_sharp        LG  0.986604  0.903790
132  M_Q_24hr  fused_smarp       HGB  0.968546  0.806054
133  M_Q_24hr  fused_smarp        RF  0.965905  0.811659
134  M_Q_24hr  fused_smarp        LG  0.968859  0.825112
135  M_Q_24hr        sharp       HGB  0.990391  0.900875
136  M_Q_24hr        sharp        RF  0.986073  0.880466
137  M_Q_24hr        sharp        LG  0.990642  0.892128
138  M_Q_24hr        smarp       HGB  0.974357  0.829596
139  M_Q_24hr        smarp        RF  0.962196  0.818386
140  M_Q_24hr        smarp        LG  0.974840  0.831839

In [9]:
df = organize(runs, std=True)
print(df.to_latex())
df

\begin{tabular}{llllll}
\toprule
    & dataset &    fused\_sharp &    fused\_smarp &          sharp &          smarp \\
{} & estimator &                &                &                &                \\
\midrule
auc & HGB &  0.990+/-0.003 &  0.963+/-0.010 &  0.992+/-0.002 &  0.970+/-0.009 \\
    & LG &  0.988+/-0.003 &  0.970+/-0.008 &  0.991+/-0.003 &  0.971+/-0.009 \\
    & RF &  0.983+/-0.006 &  0.957+/-0.011 &  0.988+/-0.004 &  0.958+/-0.012 \\
tss & HGB &  0.907+/-0.019 &  0.812+/-0.034 &  0.919+/-0.016 &  0.839+/-0.029 \\
    & LG &  0.906+/-0.007 &  0.841+/-0.026 &  0.913+/-0.018 &  0.843+/-0.029 \\
    & RF &  0.884+/-0.030 &  0.786+/-0.038 &  0.901+/-0.023 &  0.797+/-0.040 \\
\bottomrule
\end{tabular}

dataset          fused_sharp    fused_smarp          sharp          smarp
    estimator
auc HGB        0.990+/-0.003  0.963+/-0.010  0.992+/-0.002  0.970+/-0.009
    LG         0.988+/-0.003  0.970+/-0.008  0.991+/-0.003  0.971+/-0.009
    RF         0.983+/-0.006  0.957+/-0.011  0.988+/-0.004  0.958+/-0.012
tss HGB        0.907+/-0.019  0.812+/-0.034  0.919+/-0.016  0.839+/-0.029
    LG         0.906+/-0.007  0.841+/-0.026  0.913+/-0.018  0.843+/-0.029
    RF         0.884+/-0.030  0.786+/-0.038  0.901+/-0.023  0.797+/-0.040

In [10]:
by = ['database', 'dataset', 'estimator']
style(runs, by=by)

## leaderboard1: arnet_dataset

In [11]:
columns = {
    'tags.dataset_name': 'dataset',
    'tags.estimator_name': 'estimator',
    'metrics.test/auc': 'AUC',
    'metrics.test/tss': 'TSS',
}
rows = {}
runs_raw = retrieve('leaderboard1', 'arnet_dataset')
runs = select(runs_raw, columns, rows)
runs

        dataset estimator       AUC       TSS
0   fused_smarp       CNN  0.942973  0.753205
1   fused_smarp       CNN  0.961599  0.816193
2   fused_smarp       CNN  0.945356  0.758294
3   fused_smarp       CNN  0.949142  0.773788
4   fused_smarp       CNN  0.929361  0.684978
..          ...       ...       ...       ...
75        sharp       MLP  0.976567  0.855305
76        sharp       MLP  0.976531  0.849802
81        sharp       MLP  0.974626  0.815385
91        sharp       MLP  0.986490  0.888298
95        sharp       MLP  0.971712  0.865889

[80 rows x 4 columns]

In [12]:
style(runs)

In [13]:
df = organize(runs, std=True)
print(df.to_latex(multicolumn_format='c'))
df

\begin{tabular}{llllll}
\toprule
    & dataset &    fused\_sharp &    fused\_smarp &          sharp &          smarp \\
{} & estimator &                &                &                &                \\
\midrule
AUC & C3D &  0.959+/-0.020 &  0.941+/-0.013 &  0.903+/-0.051 &  0.928+/-0.031 \\
    & CNN &  0.961+/-0.024 &  0.946+/-0.012 &  0.954+/-0.017 &  0.915+/-0.035 \\
    & LSTM &  0.991+/-0.004 &  0.970+/-0.008 &  0.989+/-0.005 &  0.967+/-0.010 \\
    & MLP &  0.989+/-0.004 &  0.969+/-0.007 &  0.977+/-0.006 &  0.962+/-0.006 \\
TSS & C3D &  0.810+/-0.058 &  0.745+/-0.046 &  0.702+/-0.111 &  0.737+/-0.082 \\
    & CNN &  0.801+/-0.062 &  0.757+/-0.047 &  0.789+/-0.058 &  0.701+/-0.076 \\
    & LSTM &  0.912+/-0.024 &  0.837+/-0.028 &  0.903+/-0.031 &  0.831+/-0.033 \\
    & MLP &  0.906+/-0.015 &  0.833+/-0.026 &  0.855+/-0.027 &  0.807+/-0.028 \\
\bottomrule
\end{tabular}

dataset          fused_sharp    fused_smarp          sharp          smarp
    estimator
AUC C3D        0.959+/-0.020  0.941+/-0.013  0.903+/-0.051  0.928+/-0.031
    CNN        0.961+/-0.024  0.946+/-0.012  0.954+/-0.017  0.915+/-0.035
    LSTM       0.991+/-0.004  0.970+/-0.008  0.989+/-0.005  0.967+/-0.010
    MLP        0.989+/-0.004  0.969+/-0.007  0.977+/-0.006  0.962+/-0.006
TSS C3D        0.810+/-0.058  0.745+/-0.046  0.702+/-0.111  0.737+/-0.082
    CNN        0.801+/-0.062  0.757+/-0.047  0.789+/-0.058  0.701+/-0.076
    LSTM       0.912+/-0.024  0.837+/-0.028  0.903+/-0.031  0.831+/-0.033
    MLP        0.906+/-0.015  0.833+/-0.026  0.855+/-0.027  0.807+/-0.028

## arnet: fusesize_new_more_dataset

In [14]:
columns = {
    'tags.dataset_name': 'dataset',
    'tags.estimator_name': 'estimator',
    'metrics.test/auc': 'AUC',
    'metrics.test/tss': 'TSS',
}
rows = {}
runs_raw = retrieve('arnet', 'fusesize_new_more_dataset')
runs = select(runs_raw, columns, rows)
runs

         dataset  estimator       AUC       TSS
81   fused_smarp  FusionC3D  0.935290  0.737179
82   fused_smarp  FusionC3D  0.960964  0.823851
83   fused_smarp  FusionC3D  0.963064  0.798578
84   fused_smarp  FusionC3D  0.951671  0.791741
85   fused_smarp  FusionC3D  0.931807  0.756726
..           ...        ...       ...       ...
156        sharp        CNN  0.938087  0.716887
157        sharp        CNN  0.886316  0.654784
158        sharp        CNN  0.932091  0.705107
159        sharp        CNN  0.863181  0.664815
160        sharp        CNN  0.975708  0.821951

[80 rows x 4 columns]

In [15]:
df = organize(runs)
df_style = style(runs)
df_style

In [16]:
dirs = tensorboard(runs_raw)
%tensorboard --logdir_spec {dirs}

In [17]:
df = organize(runs, std=True)
print(df.to_latex(multicolumn_format='c'))
df

\begin{tabular}{llllll}
\toprule
    & dataset &    fused\_sharp &    fused\_smarp &          sharp &          smarp \\
{} & estimator &                &                &                &                \\
\midrule
AUC & C3D &  0.959+/-0.030 &  0.948+/-0.023 &  0.916+/-0.043 &  0.947+/-0.011 \\
    & CNN &  0.961+/-0.027 &  0.961+/-0.006 &  0.919+/-0.045 &  0.940+/-0.015 \\
    & FusionC3D &  0.961+/-0.020 &  0.949+/-0.014 &  0.912+/-0.050 &  0.931+/-0.032 \\
    & FusionCNN &  0.961+/-0.027 &  0.960+/-0.010 &  0.934+/-0.023 &  0.940+/-0.007 \\
TSS & C3D &  0.810+/-0.078 &  0.782+/-0.068 &  0.748+/-0.081 &  0.763+/-0.016 \\
    & CNN &  0.802+/-0.076 &  0.795+/-0.028 &  0.713+/-0.066 &  0.747+/-0.057 \\
    & FusionC3D &  0.806+/-0.047 &  0.782+/-0.035 &  0.721+/-0.115 &  0.745+/-0.072 \\
    & FusionCNN &  0.805+/-0.087 &  0.804+/-0.034 &  0.738+/-0.066 &  0.743+/-0.028 \\
\bottomrule
\end{tabular}

dataset          fused_sharp    fused_smarp          sharp          smarp
    estimator
AUC C3D        0.959+/-0.030  0.948+/-0.023  0.916+/-0.043  0.947+/-0.011
    CNN        0.961+/-0.027  0.961+/-0.006  0.919+/-0.045  0.940+/-0.015
    FusionC3D  0.961+/-0.020  0.949+/-0.014  0.912+/-0.050  0.931+/-0.032
    FusionCNN  0.961+/-0.027  0.960+/-0.010  0.934+/-0.023  0.940+/-0.007
TSS C3D        0.810+/-0.078  0.782+/-0.068  0.748+/-0.081  0.763+/-0.016
    CNN        0.802+/-0.076  0.795+/-0.028  0.713+/-0.066  0.747+/-0.057
    FusionC3D  0.806+/-0.047  0.782+/-0.035  0.721+/-0.115  0.745+/-0.072
    FusionCNN  0.805+/-0.087  0.804+/-0.034  0.738+/-0.066  0.743+/-0.028

In [18]:
style(runs)

## arnet: fusesize_QS

In [19]:
columns = get_columns('arnet')
rows = {}
runs_raw = retrieve('arnet', 'fusesize_QS')
runs = select(runs_raw, columns, rows)
runs

        dataset  estimator       AUC       TSS
0   fused_smarp  FusionC3D  0.870811  0.655346
1   fused_smarp  FusionC3D  0.893403  0.650000
2   fused_smarp  FusionC3D  0.903260  0.651032
3   fused_smarp  FusionC3D  0.917868  0.695096
4   fused_smarp  FusionC3D  0.856200  0.585851
..          ...        ...       ...       ...
75        sharp        CNN  0.855643  0.565943
76        sharp        CNN  0.906057  0.701195
77        sharp        CNN  0.861959  0.589474
78        sharp        CNN  0.631436  0.234286
79        sharp        CNN  0.905420  0.638384

[80 rows x 4 columns]

In [20]:
df = organize(runs, std=True)
print(df.to_latex(multicolumn_format='c'))
df

\begin{tabular}{llllll}
\toprule
    & dataset &    fused\_sharp &    fused\_smarp &          sharp &          smarp \\
{} & estimator &                &                &                &                \\
\midrule
AUC & C3D &  0.913+/-0.034 &  0.905+/-0.019 &  0.814+/-0.121 &  0.871+/-0.026 \\
    & CNN &  0.902+/-0.044 &  0.889+/-0.015 &  0.832+/-0.115 &  0.876+/-0.009 \\
    & FusionC3D &  0.903+/-0.036 &  0.888+/-0.025 &  0.853+/-0.042 &  0.851+/-0.057 \\
    & FusionCNN &  0.905+/-0.052 &  0.883+/-0.013 &  0.850+/-0.073 &  0.853+/-0.021 \\
TSS & C3D &  0.697+/-0.042 &  0.670+/-0.026 &  0.521+/-0.160 &  0.597+/-0.056 \\
    & CNN &  0.656+/-0.071 &  0.641+/-0.049 &  0.546+/-0.182 &  0.604+/-0.036 \\
    & FusionC3D &  0.671+/-0.072 &  0.647+/-0.039 &  0.604+/-0.022 &  0.569+/-0.092 \\
    & FusionCNN &  0.685+/-0.102 &  0.632+/-0.015 &  0.560+/-0.155 &  0.564+/-0.043 \\
\bottomrule
\end{tabular}

dataset          fused_sharp    fused_smarp          sharp          smarp
    estimator
AUC C3D        0.913+/-0.034  0.905+/-0.019  0.814+/-0.121  0.871+/-0.026
    CNN        0.902+/-0.044  0.889+/-0.015  0.832+/-0.115  0.876+/-0.009
    FusionC3D  0.903+/-0.036  0.888+/-0.025  0.853+/-0.042  0.851+/-0.057
    FusionCNN  0.905+/-0.052  0.883+/-0.013  0.850+/-0.073  0.853+/-0.021
TSS C3D        0.697+/-0.042  0.670+/-0.026  0.521+/-0.160  0.597+/-0.056
    CNN        0.656+/-0.071  0.641+/-0.049  0.546+/-0.182  0.604+/-0.036
    FusionC3D  0.671+/-0.072  0.647+/-0.039  0.604+/-0.022  0.569+/-0.092
    FusionCNN  0.685+/-0.102  0.632+/-0.015  0.560+/-0.155  0.564+/-0.043

In [21]:
style(runs)

## leaderboard2: sklearn

In [22]:
columns = get_columns('sklearn')
rows = {
    'estimator': {
        'HistGradientBoostingClassifier': 'HGB',
        'RandomForestClassifier': 'RF',
        'SGDClassifier': 'LG',
    }
}
runs_raw = retrieve('leaderboard2', 'sklearn')
runs = select(runs_raw, columns, rows)
runs

Select the first from
                          start_time tags.mlflow.runName  \
120 2021-06-04 15:43:34.477000+00:00             sklearn
304 2021-06-04 00:56:40.893000+00:00             sklearn

                tags.mlflow.source.git.commit
120  084b4a84b04953ad4e004885cd4fed94986f5979
304  9ceec256686c5d7c0580736a3ae6a21f7f45d35c

         dataset estimator       AUC       TSS
0    fused_sharp       HGB  0.947099  0.779633
1    fused_sharp        RF  0.928796  0.741235
2    fused_sharp        LG  0.958088  0.772955
3    fused_sharp       HGB  0.958913  0.804781
4    fused_sharp        RF  0.949705  0.776892
..           ...       ...       ...       ...
115        smarp        RF  0.957159  0.787253
116        smarp        LG  0.976000  0.839318
117        smarp       HGB  0.973456  0.826233
118        smarp        RF  0.961006  0.799327
119        smarp        LG  0.969852  0.832960

[120 rows x 4 columns]

In [23]:
df = organize(runs, std=True)
print(df.to_latex(multicolumn_format='c'))
df

\begin{tabular}{llllll}
\toprule
    & dataset &    fused\_sharp &    fused\_smarp &          sharp &          smarp \\
{} & estimator &                &                &                &                \\
\midrule
AUC & HGB &  0.970+/-0.023 &  0.946+/-0.025 &  0.972+/-0.023 &  0.951+/-0.023 \\
    & LG &  0.972+/-0.023 &  0.943+/-0.023 &  0.973+/-0.023 &  0.950+/-0.024 \\
    & RF &  0.960+/-0.028 &  0.932+/-0.031 &  0.964+/-0.027 &  0.933+/-0.031 \\
TSS & HGB &  0.852+/-0.079 &  0.764+/-0.071 &  0.854+/-0.077 &  0.781+/-0.070 \\
    & LG &  0.848+/-0.073 &  0.764+/-0.061 &  0.856+/-0.074 &  0.782+/-0.073 \\
    & RF &  0.828+/-0.077 &  0.725+/-0.087 &  0.838+/-0.074 &  0.732+/-0.084 \\
\bottomrule
\end{tabular}

dataset          fused_sharp    fused_smarp          sharp          smarp
    estimator
AUC HGB        0.970+/-0.023  0.946+/-0.025  0.972+/-0.023  0.951+/-0.023
    LG         0.972+/-0.023  0.943+/-0.023  0.973+/-0.023  0.950+/-0.024
    RF         0.960+/-0.028  0.932+/-0.031  0.964+/-0.027  0.933+/-0.031
TSS HGB        0.852+/-0.079  0.764+/-0.071  0.854+/-0.077  0.781+/-0.070
    LG         0.848+/-0.073  0.764+/-0.061  0.856+/-0.074  0.782+/-0.073
    RF         0.828+/-0.077  0.725+/-0.087  0.838+/-0.074  0.732+/-0.084

In [24]:
style(runs)

## leaderboad2: arnet

In [29]:
columns = get_columns('arnet')
rows = {}
runs_raw = retrieve('leaderboard2', 'arnet')
runs = select(runs_raw, columns, rows)
runs

         dataset estimator       AUC       TSS
121  fused_smarp       C3D  0.864599  0.581132
122  fused_smarp       C3D  0.888856  0.665278
123  fused_smarp       C3D  0.883873  0.624766
124  fused_smarp       C3D  0.915210  0.681237
125  fused_smarp       C3D  0.870066  0.610493
..           ...       ...       ...       ...
277        sharp       MLP  0.989286  0.922185
283        sharp       MLP  0.981340  0.887430
291        sharp       MLP  0.989321  0.930807
295        sharp       MLP  0.989499  0.918518
305        sharp       MLP  0.987662  0.887805

[160 rows x 4 columns]

In [26]:
style(runs)

In [27]:
df = organize(runs, std=True)
print(df.to_latex(multicolumn_format='c'))
df

\begin{tabular}{llllll}
\toprule
    & dataset &    fused\_sharp &    fused\_smarp &          sharp &          smarp \\
{} & estimator &                &                &                &                \\
\midrule
AUC & C3D &  0.932+/-0.052 &  0.917+/-0.038 &  0.860+/-0.090 &  0.911+/-0.030 \\
    & CNN &  0.929+/-0.045 &  0.922+/-0.035 &  0.876+/-0.087 &  0.913+/-0.041 \\
    & LSTM &  0.971+/-0.026 &  0.947+/-0.025 &  0.965+/-0.027 &  0.944+/-0.025 \\
    & MLP &  0.971+/-0.027 &  0.947+/-0.026 &  0.962+/-0.031 &  0.944+/-0.026 \\
TSS & C3D &  0.739+/-0.106 &  0.707+/-0.087 &  0.621+/-0.158 &  0.689+/-0.065 \\
    & CNN &  0.718+/-0.107 &  0.708+/-0.088 &  0.627+/-0.148 &  0.688+/-0.094 \\
    & LSTM &  0.851+/-0.077 &  0.779+/-0.073 &  0.830+/-0.084 &  0.774+/-0.073 \\
    & MLP &  0.852+/-0.080 &  0.774+/-0.082 &  0.837+/-0.087 &  0.765+/-0.076 \\
\bottomrule
\end{tabular}

dataset          fused_sharp    fused_smarp          sharp          smarp
    estimator
AUC C3D        0.932+/-0.052  0.917+/-0.038  0.860+/-0.090  0.911+/-0.030
    CNN        0.929+/-0.045  0.922+/-0.035  0.876+/-0.087  0.913+/-0.041
    LSTM       0.971+/-0.026  0.947+/-0.025  0.965+/-0.027  0.944+/-0.025
    MLP        0.971+/-0.027  0.947+/-0.026  0.962+/-0.031  0.944+/-0.026
TSS C3D        0.739+/-0.106  0.707+/-0.087  0.621+/-0.158  0.689+/-0.065
    CNN        0.718+/-0.107  0.708+/-0.088  0.627+/-0.148  0.688+/-0.094
    LSTM       0.851+/-0.077  0.779+/-0.073  0.830+/-0.084  0.774+/-0.073
    MLP        0.852+/-0.080  0.774+/-0.082  0.837+/-0.087  0.765+/-0.076

In [28]:
dirs = tensorboard(runs_raw)
%tensorboard --logdir_spec {dirs}

Reusing TensorBoard on port 6011 (pid 18631), started 0:24:16 ago. (Use '!kill 18631' to kill it.)